<div class="col-md-4">
	<div class="card" data-id="<%= website_item.id %>">
	  <%= image_tag website_img(website_item.thumb_image, 'thumb'), width: '100%' %>
	  <p class="card-text">
	  	<span><%= link_to website_item.title, website_show_path(website_item) %></span> <%= website_item.subtitle %>
	  </p>
	</div>
</div>