<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Upcoming Events and Festivals</h1>
    <p class="lead text-muted">Plan your next vacation around visiting interesting places with events that center around food and history.</p>
    <p>
      <%= link_to 'Contact us for a quote', contact_path, class: 'btn btn-primary' %>
      <%= link_to 'CHART blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>