<h1>About Me</h1>

<p><em>MARTINE ABAR ​ 310-753-8087 Los Angeles, CA 90024</em> <a href=>mabartravel@gmail.com</a>

<h4>QUALIFICATIONS</h4>
<p>Twenty years of experience in a combination of culinary and hospitality management. Restaurant line cooking,
corporate food service, scratch baking and pastry experience. Retail management, client based marketing,
merchandising and sales training. Managed and planned offsite corporate and private events. Developed ordering,
inventory documentation and menus along with catering manuals with procedures and protocols for small businesses
in four major cities throughout the United States.</p>

<h4>CURRENT PROFESSIONAL EXPERIENCE</h4>

<p>Sur La Table Chef Instructor 2016-Present</p>
	<ul>Represent the cooking school program in the Westwood community in Los Angeles, CA</ul> 
	<ul>Teach company provided menu items and private events using previous culinary training experience</ul> 
	<ul>Direct kitchen staff and plan class structure per event</ul> 
	<ul>Provide support and participate actively on retail sales floor by educating guest with product knowledge and assisting sales associates with customer service</ul>

<p>Westwood Hall ​ Purchasing Manager/ Front Desk 2015-Present</p>
	<ul>Office reception for international student housing the UCLA Extension program.</ul>
	<ul>Leasing and onsite 24 hour support for Residential Manager.</ul>
	<ul>Responsible for the procurement of all food and supplies including tracking, reviewing deliveries and inventory.</ul>
	<ul>Front desk responsibilities include answering incoming calls, handling company inquiries, communicating with
purveyors and ensuring that invoices are send to accounts for payment.</ul>

<h4>ADDITIONAL EXPERIENCE</h4>

	<ul>Emory University Banquet Chef 2006-2008 Atlanta, GA</ul>
	<ul>The Mercantile Assistant Store Manager 2008-2011 Atlanta, GA</ul>
	<ul>Trader Joes Section Lead 2012-2014 Houston, TX</ul>
	<ul>Fat Cat Creamery Purchasing/Event Manager 2012-2014 Houston, TX</ul>


<h4>EDUCATION</h4>

	<ul>Western Culinary Institute Portland, OR 1997-1998 Culinary Arts Diploma</ul>
	<ul>Vista College Berkeley, CA 2000-2002 Liberal Arts Major</ul>
	<ul>Williams-Sonoma Houston, TX 2012 Retail Management Internship</ul>
	<ul>West LA College LA, CA 2016-Present Cultural Anthropology Major</ul>
</p>
