<h1>About</h1>

	<hr>

	<div class="row">
		<div class="col-md-4">
			<img srce= width="300 alt="Profile Image">

			<%= image_tag "profile.jpg",  width: 300, alt: "profile image" %>
		</div>

		<div class="col-md-8">
			<p> class="lead"><p>After twenty years of working in culinary management and education I was inspired by my passion for international cuisine and history to provide online educational experience. Travel is an important part of being able to understand culture so by also providing travel planning service we are able to create the ultimate experience for others.</p>
		</div>
	</div>
