<div class="app-card-container">
	<div class="card">
		<h1>ABOUT CHART</h1>

		<hr>

		<div class="row">
			<%# <div class="col-md-4">
				<% image_tag "profile.jpg",  width: 300, alt: "profile image", class: 'profile-img' %>
			<%#</div> %> 

			<div class="col-md-12">
				<p>Inspired by over twenty years of culinary arts management, teaching and a passion for International cuisine. I created an online educational experience for anyone from the seasoned professional to the novice cook. Travel and practical experience is an important part of being able to understand culture, C.H.A.R.T provides the opportunity to plan memorable culinary experiences from a professional to giving you an opportunity to take those techniques from a professional environment to your home.</p>

				<p>-Martine</p>

				<p>
					<%#<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#pastEvents"
						aria-expanded="false"
						aria-controls="pastEvents"
					>
						Past Events
					</button>%>
	
					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-controls="education"
					>
						Intensive instruction
					</button>
				</p>

				<p>
					<div class="collapse" id="pastEvents">
						<div class="card card-block">
							Art of Soul Food Cuisine
						</div>
						<div class="card card-block">
							French Cuisine
						</div>
					</div>

					<div class="collapse" id="pastEvents">
						<div class="card card-block">
							Fundamentals of cooking.
						</div>
						<div class="card card-block">
							Basic techniques
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card card-block">
							Italian Cuisine
						</div>
						<div class="card card-block">
							Mediterranean Cuisine
						</div>
						<div class="card card-block">
							West Coast fusion Cuisine
						</div>
						<div class="card card-block">
							Midwest Cuisine
						</div>
						<div class="card card-block">
							East Coast Cuisine
						</div>
						<div class="card card-block">
							Southern Cuisine
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>
