<div class="app-card-container">
	<div class="card">
		<h1>About CHART</h1>

		<hr>

		<div class="row">
			<%# <div class="col-md-4">
				<% image_tag "profile.jpg",  width: 300, alt: "profile image", class: 'profile-img' %>
			<%#</div> %> 

			<div class="col-md-12">
				<p>After twenty years of working in culinary management and education I was inspired by my passion for international Cuisine, History, Artistry, Recreation, and Travel to provide an online educational experience. Travel is an important part of being able to understand culture so by also providing travel planning service we are able to create the ultimate experience for all looking to take advantage of making your next Culinary trip a memorable one.</p>

				<p>
					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#pastEvents"
						aria-expanded="false"
						aria-controls="pastEvents"
					>
						Past Events
					</button>
	
					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-controls="education"
					>
						Education
					</button>
				</p>

				<p>
					<div class="collapse" id="pastEvents">
						<div class="card card-block">
							Art of Soul Food Cuisine
						</div>
						<div class="card card-block">
							French Cuisine
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card card-block">
							Something University
						</div>
						<div class="card card-block">
							Culinary School
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>
