<div class="inner cover">
  <h1 class="cover-heading"><i>Food-Culture-Travel-Education</i></h1>
  <p class="lead"><p>“A Culinary culture, education, travel and tourism management company.”</p>

		<p>Our mission is to inspire others to understand the culinary history, techniques and cultures of the world. By providing everyone from the seasoned professional to the novice a platform for learning and providing travel planning and tour experiences CHART encourages everyone to celebrate culinary arts.
		</p>
	</p>
  <p class="lead">
    <%= link_to "About", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>